@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: #0077b6;
  color: #fff;
  z-index: 4;
}

nav .logo {
  margin-left: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  max-height: 100%;
  cursor: pointer;
}

nav .logo img {
  width: 60px;
}

nav .logo div {
  font-weight: 600;
}

nav .items {
  margin-right: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}

nav .items .item {
  font-weight: 600;
  cursor: pointer;
  transition: color 0.1s ease;
}

nav .items .item:hover {
  color: #00b4d8;
}

/*Mobile*/

nav .hamburger {
  margin-right: 5px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

nav .hamburger i {
  transition: transform 0.2s ease;
}

nav .hamburger i.active {
  transform: rotate(90deg);
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-top: 45px;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  z-index: 4;
}

.hamburger-menu.active {
  transform: translateX(0);
}

.hamburger-menu .item {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #0096c780;
  color: white;
  font-weight: 600;
}

.hamburger-menu .item:nth-child(odd) {
  background: #0076b680;
}

/*tablets and phones*/

@media screen and (min-width: 768px) {
  nav .items {
    display: flex;
  }

  nav .hamburger {
    display: none;
  }

  nav .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav .items {
    display: none;
  }

  nav .hamburger {
    display: flex;
  }

  nav .hamburger-menu {
    display: block;
  }
}

/*hero*/

.hero {
  width: 100%;
  overflow: hidden;
  height: 75vh;
  position: relative;
}

.hero-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-content img {
  width: 200px;
}

.hero-content h1 {
  font-size: 1.7rem;
}

.hero-content h2 {
  font-size: 1.4rem;
}

/*description*/

.description {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #d3e8ef;
}

.description h2 {
  font-family: "Dancing Script";
  padding: 10px;
  color: #2e8b57;
}

.description p {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-weight: 300;
}

.description strong {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .description p {
    width: 90%;
  }
}

.description-tour {
  display: flex;
  height: 50vh;
  max-width: 100vw;
  padding: 40px;
  background-color: lightblue;
  overflow: hidden;
}

.description-tour .text {
  width: 40%;
}

.map-container {
  margin-left: auto;
  height: 100%;
  aspect-ratio: 1.5 / 1;
}

#map {
  width: 100%;
  height: 100%;
  border: 4px dashed rgb(138, 0, 0);
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .description-tour {
    height: fit-content;
    display: block;
    margin: 20px;
  }
  .description-tour .text {
    width: 100%;
  }
  .map-container {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    aspect-ratio: 1 / 1;
  }
}

/*articles page*/
#currentArticle {
  width: 100%;
  padding: 0 25%;
}

#currentArticle * {
  padding: 10px 0;
}

#currentArticle img {
  max-width: 70%;
  margin: 0 15%;
}

#articlesTitle {
  width: 100%;
  text-align: center;
  background-color: #d3e8ef;
}

#otherArticles {
  width: 100%;
  padding: 20px 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #d3e8ef;
}

#otherArticles div {
  width: 80%;
  padding: 10px;
  background-color: #00355e;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #currentArticle {
    width: 100%;
    padding: 0 10%;
  }
  
  #currentArticle * {
    padding: 10px 0;
  }
  
  #currentArticle img {
    max-width: 90%;
    margin: 0 5%;
  }
  
  #articlesTitle {
    width: 100%;
    text-align: center;
    background-color: #d3e8ef;
  }
  
  #otherArticles {
    width: 100%;
    padding: 20px 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background-color: #d3e8ef;
  }
  
  #otherArticles div {
    width: 90%;
    padding: 10px;
    background-color: #00355e;
    color: #fff;
    cursor: pointer;
  }
}

/*info boxes with popups*/
.info-tiles {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.info-tiles .tile {
  width: 100%;
  background-color: #00355e;
  color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.info-tiles .tile .img-container {
  max-width: 100%;
  overflow: hidden;
}

.info-tiles .tile .img-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
}

.info-tiles .tile .text {
  padding: 20px;
}

.info-tiles .tile .text h2 {
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .info-tiles {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .info-tiles {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small tablets */
  }
}

/*quotes*/

.quotes {
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
  background: #d3e8ef;
}

.quotes em {
  font-weight: 800;
}
@media screen and (max-width: 1200px) {
  .quotes {
    display: none;
  }
}

/*Dropdowns*/
.dropdowns {
  max-width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown-button {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-button > div:first-child {
  flex-grow: 1;
  word-break: break-word;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lightgray;
  transition: transform 0.3s ease;
  min-width: 30px;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.dropdown-item.shown {
  height: auto;
}

.dropdown-item {
  max-width: 100%;
  height: 0; /* Start collapsed */
  overflow: hidden;
  transition: height 0.3s ease-out; /* Smooth transition on height */
}

.dropdown-item p {
  width: 50%;
  margin: 0 auto;
}

.faq .dropdown-button {
  width: 80%;
  margin: 10px auto;
  font-weight: 500;
}

.faq .dropdown-item p {
  width: 70%;
}

.carousel-container-dropdown {
  width: 50%;
  margin: 20px auto;
}

/*Dropdowns and carousels in the dropdowns for mobile*/
@media screen and (max-width: 1200px) {
  .dropdowns {
    gap: 10px;
  }
  .dropdown-item p {
    width: 100%;
  }
  .carousel-container {
    width: 100%;
  }
  .faq .dropdown-button {
    width: 95%;
    margin: 10px auto;
  }
  .faq .dropdown-item p {
    width: 90%;
  }
}

/* Contact Us */

.contact {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #d3e8ef;
}

.contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #d3e8ef;
}

.contact input,
.contact textarea,
.contact button {
  border: none;
  outline: none;
  padding: 5px;
  resize: vertical;
  border-radius: 3px;
}

.contact button {
  cursor: pointer;
  font-weight: 600;
  background-color: #0077b6;
  color: #fff;
  transition: background-color 0.1s ease;
}

.contact button:hover {
  background-color: #03699f;
}

/* Booking table */

@media screen and (max-width: 768px) {
  .booking-table {
    display: none;
  }
}

.booking-table {
  width: 100vw;
  padding: 20px 0;
  margin: 0;
}

.booking-table table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #00355e;
  color: white;
}

.booking-table td {
  padding: 10px;
  border: 1px solid white;
}

.booking-table tr:nth-child(n + 4) td:empty {
  background-color: #555555;
}

.booking-table tr:nth-child(2n + 5) {
  background-color: #00507a;
}

.booking-table tr:nth-child(2n + 6) {
  background-color: #7fbbd1;
  color: black;
}

/* Booking selector */
.picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  padding: 40px;
  background-color: #d3e8ef;
}

.picker form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .picker form {
    flex-direction: column;
  }
}

.picker form select,
.picker form button {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.picker .discount input,
.picker .discount button {
  border: none;
  outline: none;
  padding: 10px;
}

.picker #discountCheckContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.picker #discountCheckContainer input,
.picker #discountCheckContainer label {
  cursor: pointer;
}

.picker .discount.hidden {
  display: none;
}

/* Trustpilot */

.trustpilot {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #00a738;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.trustpilot:hover {
  background: #cecece;
  border-color: #01862d;
}

.trustpilot i {
  color: #00a738;
  transition: color 0.2s ease;
}

.trustpilot:hover i {
  color: #01862d;
}

/*course*/

.course {
  padding: 50px 10%;
  background-color: #d3e8ef;
}

.course li {
  margin-left: 50px;
}

.course i {
  margin-right: 10px;
}

.picture-holder {
  padding: 50px 0;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.picture-holder img, .picture-holder p {
  max-width: 40%;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .picture-holder {
    flex-direction: column;
  }
  .picture-holder img, .picture-holder p {
    max-width: 100%;
    text-align: left;
  }
}

/*subscribe*/

.subscribe {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  text-align: center;
  padding: 10px;
  background-image: url("/assets/images/subscribe_background.jpg");
  background-size: cover;
  color: white;
  z-index: 0;
}

.subscribe form {
  display: inline-flex;
  padding: 0;
  margin: 5px auto;
  border: 0;
}

@media screen and (max-width: 600px) {
  .subscribe form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .subscribe input {
    width: 300px;
  }
  .subscribe button {
    width: 150px;
  }
}

.subscribe input,
.subscribe button {
  padding: 5px;
  border-radius: 0;
  border: none;
  outline: none;
  margin: 0;
}

.subscribe input {
  width: 200px;
  background-color: #eee;
}

.subscribe button {
  width: 100px;
  background-color: #e76f51;
  color: #fff;
  cursor: pointer;
}

.subscribe h2,
.subscribe h3 {
  margin: 0;
}

/* Spinner */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000040;
  display: none;
}

.spinner-container.active {
  display: flex;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(#00b4d8 90deg, #00b4d8 220deg, transparent 135deg);
  mask: radial-gradient(farthest-side, transparent 20px, black 7px);
  animation: spinning 2s ease-in-out infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*footer*/

footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #333333;
  color: white;
  font-weight: 800;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer {
    display: block;
    gap: 0px;
  }

  footer div {
    gap: 0;
  }
}

/* Carousel */
.carousel-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 4 / 3;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
  z-index: 2;
  opacity: 1;
}

.carousel-container .before {
  transform: translateX(-100%);
  display: block;
}

.carousel-container .current {
  z-index: 1;
  display: block;
}

.carousel-container .after {
  transform: translateX(100%);
  display: block;
}

.carousel-container button {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: none;
  background-color: transparent;
  z-index: 3;
  transition: transform 0.2s ease;
  font-size: 1.5rem;
  color: white;
  padding: 20px;
  cursor: pointer;
}

.carousel-container .back {
  left: 0;
  text-align: left;
}

.carousel-container .next {
  right: 0;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .back:hover {
    transform: translateX(-10px);
  }

  .next:hover {
    transform: translateX(10px);
  }

  .carousel-container button {
    font-size: 2rem;
  }

  .carousel-item .caption {
    font-size: 1rem;
  }
}

.dots {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.dots div {
  background-color: #fff;
  height: 3px;
  width: 15px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.dots div.active {
  background-color: #000;
}

/* Popups*/
.popups {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: z-index 0.2s ease;
}

.popups.active {
  z-index: 5;
}

.popups .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease;
  cursor: pointer;
}

.popups .overlay.active {
  backdrop-filter: blur(2px);
}

.popup {
  width: 90%;
  height: 95vh;
  padding: 40px;
  background-color: #00355e;
  color: white;
  border-radius: 5px;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

.popup #title,
.popup #text {
  text-align: center;
}

.popup #title {
  padding: 20px;
}

.popup.active {
  animation: popup-enter 0.3s ease;
  transform: scale(1);
}

.popup .carousel-container {
  border-radius: 5px;
  margin: auto;
}

@keyframes popup-enter {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 0, 0);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, border-radius 0.2s ease;
  z-index: 8;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 60%;
  }
  .popup .carousel-container {
    max-height: 60vh;
  }
  .close:hover {
    background-color: #e5ad06;
    animation: close 0.2s ease;
    border-radius: 5px;
    transform: scale(0.9);
    transform: rotate(45deg);
  }
}

/* Paypal */

.checkout-button {
  padding: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}

.pay {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #d3e8ef;
}

.pay.hidden {
  display: none;
}

.pay #paypal-button-container {
  z-index: 2;
}
